---
import Header from "../components/Header.astro";
import Card1 from "../components/Card1.astro";
import Card2 from "../components/Card2.astro";
import Footer from "../components/Footer.astro";
import "../style/style.css";

const url = "https://qlehotdtjubzaumjaypw.supabase.co/rest/v1/Produkt";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZWhvdGR0anViemF1bWpheXB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTkwMzUsImV4cCI6MjA3ODU5NTAzNX0.n-6jAPy7oVztz5tFcyivZeVTbDQekQJn1ZfIXEqRZIE";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Work forside</title>
  </head>
  <body>
    <!-- Hmmm -->
    <Header />
    <section>
      <div class="container1">
        <img id="lydrejse" src="/img/proevenlydrejse.svg" alt="" />
        <div id="indeximgtext">
          <h1>Nem <br /> Genopladning</h1>
          <h2>Via progressiv musik</h2>
        </div>
      </div>
    </section>

    <section>
      <div class="logoindex">
        <div class="text">
          <h1>music I visualisation I guide on/off</h1>
          <h2>empowering pauses</h2>
          <div class="knap">
            <a href="/src/pages/fakta.astro">Læs mere</a>
          </div>
        </div>
        <div class="logowrapper2">
          <img src="img/forside_logo.png" alt="logo" />
        </div>
      </div>
    </section>

    <Card1
      img="img/mandibjerg.png"
      h1="Bedre pauser for dine medarbejdere"
      h2="Styrk trivlsen i din organisation med Sound Wheel Work"
      text="I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. Sound Wheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud."
      knap="Læs mere"
    />
    <img src="img/soundwheelwavelogo.svg" alt="logo" />
    <Card2
      h1="Lav en workshop på din arbejdsplads "
      h2="Styrk trivlsen i din organisation med Sound Wheel Work"
      text="I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. Sound Wheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud."
      img="img/kristian.png"
      knap="Kontakt os"
    />
    <Footer />
  </body>
</html>

<style>
  /* INDEX IMAGE SECTION */

  .container1 {
    position: relative;
    background-image: url("img/vikingship.png");
    background-size: cover;
    width: 100vw;
    height: 600px;
  }

  #lydrejse {
    width: 10%;
    display: block;
    position: relative;
    z-index: 100;
    left: 1000px;
  }

  .indeximg {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  #indeximgtext h1 {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    padding-left: 50px;
    color: rgba(243, 247, 248, 1);
    font-weight: 400;
  }

  #indeximgtext h2 {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    color: rgba(197, 212, 220, 1);
    font-weight: 400;
    padding-left: 50px;
    margin-bottom: 50px;
  }

  /* LOGO SECTION */

  .logowrapper2 {
    display: flex;
    justify-content: flex-end;
  }

  .logowrapper2 img {
    height: 100%;
    width: auto;
    z-index: -1;
    margin-top: 150px;
  }

  .text h1 {
    position: relative;
    font-weight: 300;
    text-align: center;
    color: rgba(197, 212, 220, 1);
  }

  .text h2 {
    position: relative;
    font-weight: 300;
    text-align: center;
    color: rgba(110, 143, 162, 1);
    padding-top: 20px;
    margin-bottom: 30px;
  }

  .logoindex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    height: 540px;
  }

  .knap a {
    font-size: larger;
    color: white;
    text-decoration: none;
    background-color: rgba(110, 143, 162, 1);
    display: inline-block;
    padding: 17px 50px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--fontcardp);
    position: relative;
    left: 140px;
    margin-bottom: 100px;
  }
  .knap a:hover {
    color: #3c4f5c;
    background-color: #c5d4dc;
  }
</style>
