---
import Header from "../components/Header.astro";
import Card1 from "../components/Card1.astro";
import Card2 from "../components/Card2.astro";
import Footer from "../components/Footer.astro";
import "../style/style.css";

const url = "https://qlehotdtjubzaumjaypw.supabase.co/rest/v1/Produkt";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZWhvdGR0anViemF1bWpheXB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTkwMzUsImV4cCI6MjA3ODU5NTAzNX0.n-6jAPy7oVztz5tFcyivZeVTbDQekQJn1ZfIXEqRZIE";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap" rel="stylesheet" />
    <title>Work forside</title>
  </head>
  <body>
    <!-- Hmmm -->
    <Header />
    <img src="img/vikingship.png" alt="vikingeskib" />
    <h1>Nem Genopladning</h1>
    <h1>Via progressiv musik</h1>
    <Card1 img="img/mandibjerg.png" h1="Bedre pauser for dine medarbejdere" h2="styrk trivlsen i din organisation med Sound Wheel Work" text="I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. Sound Wheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud." />
    <Card2 h1="Bedre pauser for dine medarbejdere" h2="styrk trivlsen i din organisation med Sound Wheel Work" text="I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. Sound Wheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud." img="img/mandibjerg.png" />
    <Footer />
  </body>
</html>
