---
import Header from "../components/Header.astro";
import PlanCard from "../components/PlanCard.astro";
import Footer from "../components/Footer.astro";
import Card4 from "../components/Card4.astro";
import "../style/style.css";

const url = "https://qlehotdtjubzaumjaypw.supabase.co/rest/v1/Produkt";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZWhvdGR0anViemF1bWpheXB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTkwMzUsImV4cCI6MjA3ODU5NTAzNX0.n-6jAPy7oVztz5tFcyivZeVTbDQekQJn1ZfIXEqRZIE";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap" rel="stylesheet" />
    <title>Work planside</title>
  </head>
  <Header />
  <body>
    <section>
      <img src="public/img/colleagues.png" alt="kollegaer" />
      <div class="planWrapper">
        <PlanCard h2text="Plan 1" text1="SoundWheel Work 100" boldText="Op til 100 brugere" prisText="9.999 kr. / år - ekskl. moms" button="Læs mere" />
        <PlanCard h2text="Plan 2" text1="SoundWheel Work 500" boldText="Op til 500 brugere" prisText="14.999 kr. / år - ekskl. moms" button="Læs mere" />
        <PlanCard h2text="Plan 3" text1="SoundWheel Work 1k" boldText="Op til 1.000 brugere" prisText="19.999 kr. / år - ekskl. moms" button="Læs mere" />
      </div>
      <div class="kontakt_os">
        <h2>Over 1.000 medarbejdere? <a href="">Kontakt os</a></h2>
      </div>
      <div class="logo_wrapper">
        <img class="logo_right" src="public/img/bluelogoRight.png" alt="logo" />
      </div>
    </section>

    <div class="card_citat">
      <Card4 img="img/ladyinforestchair.png" h1="Udtagelse fra HR chef" h1="“" h2="SoundWheel Work har gjort en mærkbar forskel i vores teams daglige arbejdsgang. De korte lydrejser hjælper vores medarbejdere med at genoplade mentalt og vende tilbage til arbejdet med fornyet fokus og energi." h1="“" text="– Maria Jensen, HR-chef hos TechSolutions" />
      <Footer />
    </div>
  </body>

  <style>
    body {
      background-color: rgba(57, 70, 81, 1);
    }
    .planWrapper {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 2rem;
      justify-content: center;
      margin-top: 4rem;
      margin-bottom: -80px;
      z-index: 10;
    }
    .kontakt_os {
      font-style: normal;
      color: rgba(223, 232, 237, 1);
      padding-bottom: 30px;
      justify-content: center;
      text-align: center;
      z-index: 3;
    }
    .kontakt_os a {
      font-style: oblique;
      color: rgba(223, 232, 237, 1);
      font-weight: bold;
      text-decoration: none;
    }
    .logo_wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
    }
    .logo_wrapper img {
      height: 100%;
      width: 30%;
      margin-top: -300px;
      margin-right: -24px;
      margin-bottom: -15px;
    }

    .logo_right {
      width: 150px;
      height: auto;
      z-index: -1;
    }
    .kontakt_os a:hover {
      text-decoration: underline;
    }
  </style>
</html>
