* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-colorbg: rgba(57, 70, 81, 1);
  --primarycolorh1: rgba(60, 78, 92, 1);
  --primarycolorp: rgba(60, 78, 92, 1);
  --primarycolorh2: rgba(223, 232, 237, 1);

  /* Color and font Variables cards */
  --fontcardh1: "heebo", sans-serif;
  --fontcardp: "inter", sans-serif;
  --fontwightcard: 400;
  --fontsizecard: 20px;
  --fontsizecardh1: 24px;
  --lineheightcard: 30px;

  --primary-colorcardh1: rgba(60, 78, 92, 1);
  --secondary-colorcardh2: rgba(71, 96, 115, 1);
  --textcardcolor: rgba(57, 70, 81, 1);
  --backgroundcolorcard: rgba(223, 232, 237, 1);
}

body {
  background-color: var(--primary-colorbg);
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  font-style: light;
  color: var(--primarycolorh2);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-style: light;
  color: var(--primarycolorp);
}
