---
// const { jsonTilCard } = Astro.props;
// const tag = Astro.props.tag;
// const text = Astro.props.text;
// console.log("jsonTilCard", jsonTilCard);
const { variant, data } = Astro.props;
---

<article class={variant}>
  <h2>{data.title}</h2>
  <a href=`/planer/${data.slug}`>
    <p>{data.title} link her</p>
  </a>
  <div></div>
</article>
