<article>
  <div class="grid1">
    <div class="tekst">
      <h2>Mental fitness for medarbejdere</h2>
      <p>
        Skab bedre trivlse for dit team med SoundWheel. Vores korte sessioner er
        let tilgængelige og skaber nærende små pauser i løbet af arbejdsdagen.
        De reducerer stress, skærper fokus og giver ny energi.
      </p>
    </div>
    <img src="/img/mobil.png" alt="billeder fra virksomhed" />
  </div>
  <div class="grid2">
    <img src="/img/company.png" alt="billede af mobiler" />
    <div class="tekst1">
      <h2>Stress koster 55 mia. kr. om året</h2>
      <p>
        Arbejdsrelateret stress sænker det effektive arbejdsudbud med 55.600
        fuldtidsbeskæftigede, hvilket fører til et årligt velstandstab (BNP) på
        næsten 55 mia. kr.
      </p>
      <a
        href="https://www.ae.dk/analyse/2024-03-stress-koster-55-mia-kr-om-aaret"
        >https://www.ae.dk/analyse/2024-03-stress-koster-55-mia-kr-om-aaret</a
      >
    </div>
  </div>
</article>

<style>
  article {
    background-color: rgba(223, 232, 237, 1);
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6rem;
    margin-right: 6rem;
    align-items: start;
  }

  .grid1 img {
    width: 120%;
    margin-top: -150px;
    z-index: 10;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6rem;
    margin-right: 6rem;
    align-items: start;
  }

  .grid2 img {
    width: 100%;
    margin-bottom: -70px;
    z-index: 10;
  }

  .tekst1 {
    padding-left: 2rem;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: #3c4f5c;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    color: #3c4f5c;
    padding-top: 2rem;
  }

  p {
    font-size: 2rem;
    line-height: 2;
  }
</style>
