<header>
  <div class="header">
    <img src="img/logo.webp" alt="" />
    <nav>
      <a href="/">WORK FORSIDE</a>
      <a href="/fakta">RESSOURCER OG VIDEN</a>
      <a href="/planer">PLANER</a>
    </nav>
  </div>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    background-color: var(--primary-colorbg);
    padding-block: 1rem;
  }

  nav a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
    font-style: normal;
  }

  nav {
    display: flex;
    gap: 20px;
    justify-content: center; /* centrer horisontalt */
    align-items: center;
  }

  img {
    width: 20%;
    height: auto;
    padding-left: 3rem;
  }

  a {
    color: rgba(197, 212, 220, 1);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
